# Mongodb connection string
MONGO_URI=

# Jwt secret token
JWT_SECRET=

# SMTP Mails Trap
MAILTRAP_SMTP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_SMTP_PORT=2525
MAILTRAP_SMTP_USER=a006bc9f85e52f
MAILTRAP_SMTP_PASS=****f963

# Gemini api  key
GEMINI_API_KEY=AIzaSyALnjwvCmY2PJtNUF1t4KCmySaQUSJMuAw

# App url
APP_URL=http://localhost:3000
